{% extends "layout.html" %}

{% block body %}

 <h2>{{ book.title }}<br>({{ book.author }})</h2>
 <br>
 <h3>Kuvaus:</h3>
 <div class="card bg-light">
      <div class="card-body">
            {{ book.description }}
      </div>
 </div>
 


 <h3>Käyttäjien merkintöjä:</h3>

 <ul class=list-group>
     {% for note in book.bookNotes %}
      <li class=list-group-item>{{ note.note }}</li>  
     {% endfor %}
 </ul>
 <br>
 
 {% set vars = {'read': False} %}
 {% for readbook in current_user.readBooks %}
      {% if readbook.id == book.id %}
            {% if vars.update({'read':True}) %} {% endif %}
      {% endif %}      
 {% endfor %}

 {% if vars.read %}
      <form method="POST" action="{{ url_for('book_removeRead', book_id=book.id) }}">
            <button type="submit" class="btn btn-outline-primary">Poista luetuista kirjoista</button>
      </form>
      <form method="GET" action="{{ url_for('note_form', book_id=book.id) }}">
            <button type="submit" class="btn btn-outline-primary">Kirjoita kommentti</button>
      </form>
 {% else %}
      <form method="POST" action="{{ url_for('book_markRead', book_id=book.id) }}">
            <button type="submit" class="btn btn-outline-primary">Merkitse luetuksi</button>
     </form>
 {% endif %}

 <form method="GET" action="{{ url_for('books_edit', book_id=book.id) }}">
            <button type="submit" class="btn btn-outline-primary">Muokkaa</button>
 </form>


 <form method="POST" action="{{ url_for('book_delete', book_id=book.id) }}">
            <button type="submit" class="btn btn-outline-primary">Poista Kirja</button>
 </form>

 
{% endblock %} 