{% extends "layout.html" %}

{% block body %}

 <p>{{ book.title }}<br>({{ book.author }})</p>
 <p>Kuvaus:<br>{{ book.description }}</p>
 
 {% set vars = {'read': False} %}
 {% for readbook in current_user.readBooks %}
      {% if readbook.id == book.id %}
            {% if vars.update({'read':True}) %} {% endif %}
      {% endif %}      
 {% endfor %}

 {% if vars.read %}
      <form method="POST" action="{{ url_for('book_removeRead', book_id=book.id) }}">
            <input type="submit" value="Poista luetuista kirjoista"/>
      </form>
      <form method="GET" action="{{ url_for('note_form', book_id=book.id) }}">
            <input type="submit" value="Kirjoita kommentti"/>
      </form>
 {% else %}
      <form method="POST" action="{{ url_for('book_markRead', book_id=book.id) }}">
            <input type="submit" value="Merkitse luetuksi"/>
     </form>
 {% endif %}

 <form method="GET" action="{{ url_for('books_edit', book_id=book.id) }}">
              <input type="submit" value="Muokkaa"/>
 </form>


 <form method="POST" action="{{ url_for('book_delete', book_id=book.id) }}">
       <input type="submit" value="Poista Kirja"/>
 </form>

 
{% endblock %} 