{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('books_update', book_id=book.id) }}">

    {% if form.errors %}
        <p><strong>Errors</strong></p>
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div>{{field }}: {{ error }}</div>
        {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="form-group">
        <label for="title">{{ form.title.label }}</label>
        <input type ="text" class="form-control" id="title" name="title" value="{{book.title}}">
    </div>

    <div class="form-group">
        <label for="author">{{ form.author.label }}</label>
        <input type ="text" class="form-control" id="author" name="author" value="{{book.author}}">
    </div>

    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        <textarea class="form-control" id="description" name="description">{{book.description}}</textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-outline-primary">Vahvista Muutokset</button>
    </div>
    
</form>

{% if current_user.role == "ADMIN" %}
<form method="POST" action="{{ url_for('book_delete', book_id=book.id) }}">
        <button type="submit" class="btn btn-danger">Poista Kirja</button>
</form>
{% endif %}

{% endblock %}