{% extends "layout.html" %}

{% block body %}

<p>{{ book.title }}<br>by {{ book.author }}</p>

<form method="POST" action="{{ url_for('books_update', book_id=book.id) }}">
    <div>
        <label for="title">New Title:</label>
        <input type="text" name="title"/>
    </div>
    <div>
        <label for="author">New Author:</label>
        <input type="text" name="author"/>
    </div>
    <div class="button">
        <button type="submit">Confirm Edit</button>
    </div>
</form>

<style>
    form div + div {
        margin-top: 1em;
    }
    label {
        display: inline-block;
        width: 120px;
        text-align: right;
    }
    input, textarea {
        width: 300px;
        box-sizing: border-box;
    }
    button {
        margin-left: 120px;
    }
</style>

{% endblock %}