{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">

    {% if form.errors %}
    <p><strong>Errors</strong></p>
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div>{{field }}: {{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div>
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div>
        {{ form.author.label }}
        {{ form.author }}
    </div>
    <div>
        {{ form.description.label}}
        {{ form.description }}
    </div>
    <div>
        <input type="submit" value="Lisää Kirja"/>
    </div>
</form>

{% endblock %}