{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">

    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div>{{field }}: {{ error }}</div>
    {% endfor %}
    {% endfor %}
    <br>

    <div class="form-group">
        <label for="title">{{ form.title.label }}</label>
        <input type ="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group">
        <label for="author">{{ form.author.label }}</label>
        <input type ="text" class="form-control" id="author" name="author">
    </div>

    <div class="form-group">
        <label for="isbn">{{ form.isbn.label }}</label>
        <input type="text" class="form-control" id="isbn" name="isbn">
    </div>

    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        <textarea class="form-control" id="description" name="description"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Lisää Kirja</button>
    </div>
</form>

{% endblock %}