{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">
    <div>
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div>
        {{ form.author.label }}
        {{ form.author }}
    </div>
    <div>
        {{ form.title.label}}
        {{ form.description }}
    </div>
    <div>
        <input type="submit" value="Lisää Kirja"/>
    </div>
</form>

<style>
        form div + div {
            margin-top: 1em;
        }
        label {
            display: inline-block;
            width: 120px;
            text-align: right;
        }
        input, textarea {
            width: 300px;
            box-sizing: border-box;
        }
        button {
            margin-left: 60px;
        }
        textarea {
        vertical-align: top;
        height: 5em;
        }
    </style>

{% endblock %}