{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">

    <div class="form-group">
        <label for="username">{{ form.username.label }}</label>
        <input type ="text" class="form-control" id="username" name="username">
    </div>

    <div class="form-group">
        <label for="password">{{ form.password.label }}</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </div>
</form>

<p><a href="{{ url_for('auth_register') }}">Luo uusi käyttäjätunnus?</a></p>

{% endblock %}